<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Usuario">
    
    <select id="buscarNumero" resultType="int" parameterType="string">
        SELECT COUNT(idUsuario) FROM usuario WHERE telefono = #{telefono};
    </select>
    
    <insert id="registrar" parameterType="beans.Usuario">
        INSERT INTO usuario
        (nombre,telefono,tiempoRegistro,tokenAcceso,idEstatus, password)
        VALUES (#{nombre},#{telefono}, NOW() ,#{tokenAcceso}, "0", #{password});
    </insert>
    
    <select id="validarRegistro" parameterType="beans.Usuario" resultType="beans.Usuario">
        SELECT * FROM usuario WHERE telefono = #{telefono} AND tokenAcceso = #{tokenAcceso} LIMIT 1;
    </select>
    
    <select id="login" parameterType="beans.Usuario" resultType="beans.Usuario">
        SELECT * FROM usuario WHERE telefono = #{telefono} AND password = #{password} LIMIT 1;
    </select>
    
    <update id="actualizarEstatus" parameterType="Integer">
        UPDATE usuario SET
            idEstatus = "1", 
            tiempoValidacion = NOW()
        WHERE idUsuario = #{idUsuario}
    </update>
    
    
    
</mapper>